<div th:fragment="form" (titleSubmit)>

    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{articulo.id}"/>

    <div class="card">
        <h4 class="card-title ps-2" th:text="${titlePage}">Nuevo Pedido</h4>
        <div class="bg-light p-1">
            <div class="row mb-1">
                <div class="col-12 col-md-4">
                    <div class="form-floating">
                        <input id="ref" type="text"
                               th:field="*{articulo.ref}" readonly
                               placeholder="Referencia"
                               class="form-control">
                        <label for="ref">Referencia <span class="text-danger">*</span></label>
                    </div>
                </div>
                <div class="col-12 col-md-4 d-flex justify-content-end ">
                    <img th:if="*{not #strings.isEmpty(articulo.imagen)}"
                         th:src="@{'/articulosImages/'+ *{articulo.imagen}}"
                         class="img-thumbnail rounded"
                         style="max-width: 150px;max-height: 60px"
                         alt="Imagen del artículo">
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-12 col-md-6">
                    <div class="form-floating">
                        <input id="descripcion" type="text"
                               th:value="*{articulo.descripcion}" readonly
                               placeholder="Descripcion"
                               class="form-control">
                        <label for="descripcion">Descripcion <span class="text-danger">*</span></label>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="form-floating">
                        <input id="precio" type="number"
                               th:value="*{articulo.precio}" readonly
                               placeholder="Precio"
                               class="form-control">
                        <label for="precio">Precio <span class="text-danger">*</span></label>
                    </div>
                </div>
                <div class="col-1 col-md-3">
                    <div class="form-floating">
                        <input id="stock" type="number"
                               th:value="*{articulo.stock}" readonly
                               placeholder="Stock"
                               class="form-control">
                        <label for="stock">Stock</label>
                    </div>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-6 col-md-2">
                    <div class="form-floating">
                        <input id="precioPedido" type="number"
                               th:field="*{precio}"
                               placeholder="Precio"
                               class="form-control">
                        <label for="precioPedido">Precio <span class="text-danger">*</span></label>
                    </div>
                    <small class="form-text text-danger"
                           th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></small>
                </div>
                <div class="col-6 col-md-2">
                    <div class="form-floating">
                        <input id="dto" type="number"
                               th:field="*{dto}"
                               placeholder="Descuento"
                               class="form-control">
                        <label for="dto">Dto <span class="text-danger">*</span></label>
                    </div>
                    <small class="form-text text-danger"
                           th:if="${#fields.hasErrors('dto')}" th:errors="*{dto}"></small>
                </div>
                <div class="col-6 col-md-2">
                    <div class="form-floating">
                        <input id="unidades" type="number"
                               th:field="*{unidades}"
                               placeholder="Unidades"
                               class="form-control">
                        <label for="stock">Unidades</label>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="form-floating">
                        <input id="fechaPedido" type="date"
                               th:field="*{fechaPedido}"
                               placeholder="Fecha pedido"
                               class="form-control">
                        <label for="fechaPedido">Fecha Pedido</label>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="form-floating">
                        <input id="fechaLLegada" type="date"
                               th:field="*{fechaLLegada}"
                               placeholder="Fecha LLegada"
                               class="form-control">
                        <label for="fechaLLegada">Fecha LLegada</label>
                    </div>
                </div>
            </div>
            <div class="row mb-1">
                <div  class="col-12">
                    <div class="form-floating">
                        <select id="cliente" th:field="*{cliente.id}" class="form-select" th:disabled="${readonly}">
                            <option selected th:value="${null}">Seleccione el cliente</option>
                            <option th:each="cli: ${clientes}"
                                    th:text="${cli.nif} + ' - ' + ${cli.razonSocial}"
                                    th:value="${cli.id}"></option>
                        </select>
                        <label for="cliente">Cliente <span class="text-danger">*</span></label>
                    </div>
                    <small class="form-text text-danger"
                           th:if="${#fields.hasErrors('cliente')}" th:errors="*{cliente}"></small>
                </div>
            </div>


            <div class="d-flex justify-content-end m-2" th:if="${showSubmit}">
                <button type="submit" class="btn boton-guardar">
                    <i class="bi bi-save"></i> <span th:text="${titleSubmit}"></span>
                </button>
            </div>
        </div>

    </div>
</div>

<!-- ------------------------------------------------------------ -->

<div th:fragment="listado">

    <table class="table table-striped" >
        <thead>
        <tr scope="row">
            <th scope="col">Fecha Pedido</th>
            <th scope="col">Fecha Llegada</th>
            <th scope="col">Precio</th>
            <th scope="col">Dto</th>
            <th scope="col">Unidades</th>
            <th scope="col">Articulo</th>
            <th scope="col">Cliente</th>
            <th scope="col"></th>
        </tr>
        </thead>

        <tbody>
        <tr scope="row" th:each="item: ${pedidos}">
            <td th:text="${#dates.format(item.fechaPedido, 'dd/MM/yyyy')}"></td>
            <td th:text="${#dates.format(item.fechaLLegada, 'dd/MM/yyyy')}"></td>
            <td class="text-end" th:text="${#numbers.formatDecimal(item.precio,1,2,'COMMA')}+'€'"></td>
            <td class="text-center" th:text="${item.dto}+'%'"></td>
            <td class="text-center" th:text="${item.unidades}"></td>
            <td th:text="${item.articulo.ref}+ ' - ' + ${item.articulo.descripcion}"></td>
            <td th:text="${item.cliente.nif}+ ' - ' + ${item.cliente.razonSocial}"></td>
            <td class="text-center">
                <a th:href="@{/admin/pedidos/delete/{id}(id = ${item.id})}" title="Borrar"
                   class="btn btn-sm boton-borrar"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
        </tbody>

    </table>


</div>