<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/plantilla_admin :: head"></head>

<body>

<header th:replace="fragments/plantilla_admin :: header"></header>

<div class="container py-3">
    <form th:action="@{/admin/facturas/update}" th:object="${factura}" method="post">
        <div th:replace="fragments/facturas_ui :: form (titlePage='Actualiza Factura', titleSubmit='Actualizar')"></div>
        <h4 class="text-center">Detalle de la Factura</h4>
        <div th:replace="fragments/facturas_ui:: detalle"></div>
    </form>
</div>

<footer th:replace="fragments/plantilla_admin :: footer"></footer>

</body>
</html>


