<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/plantilla_admin :: head"></head>

<body>

<header th:replace="fragments/plantilla_admin :: header"></header>


<div class="container py-3">
    <h1>Tienda Urosa</h1>

        <div class="row">
            <h3>TOP 3</h3>
            <div class="col-3 p-1" th:each="top:${topArticulos}">
                <div class="card m-1" >
                    <img th:src="@{'/articulosImages/'+ ${top.articulo.imagen}}" class="card-img-top; img-fluid mx-auto d-block"
                         style="width:250px;height:200px"
                         th:alt="${top. articulo.descripcion}">
                    <div class="card-body bg-light">
                        <h5 class="card-title" th:text="${top.articulo.precio}+'€'"></h5>
                        <p class="card-text" th:text="${top.articulo.ref}"></p>
                        <h3 class="card-text" th:text="${top.articulo.descripcion}"></h3> <br>
                        <h2>Ingresos</h2> <h3 class="card-text" th:text="${top.total}"></h3>
                        <form th:action="@{/carrito/add(ref=${top.articulo.ref})}" method="post">
                            <button type="submit" class="btn btn-primary">Carrito</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    <!--    th:each="top3,iterStat: ${}" th:if="${iterStat.index} <3">-->

</div>

<footer th:replace="fragments/plantilla_admin :: footer"></footer>

</body>
</html>