<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/plantilla_admin :: head"></head>

<body>

<header th:replace="fragments/plantilla_admin :: header"></header>

<div class="container-fluid py-3">
    <a th:href="@{/admin/proveedores/add}" title="Nuevo Proveedor" class="float-end btn boton-add rounded-circle"><i
            class="bi bi-plus"></i></a>

    <h3 class="text-center">Listado de Proveedores</h3>
    <form th:action="@{/admin/proveedores/list}" method="post">
        <div th:replace="fragments/proveedores_ui :: filter"></div>
    </form>
    <div th:replace="fragments/proveedores_ui:: listado"></div>
</div>

<footer th:replace="fragments/plantilla_admin :: footer"></footer>

</body>
</html>


