<div th:fragment="form" (titleSubmit)>

    <input type="hidden" th:field="*{id}"/>

    <div class="card">
        <h4 class="card-title ps-2" th:text="${titlePage}">Nuevo Cliente</h4>
        <div class="bg-light p-1">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="form-floating">
                        <input id="nif" type="text"
                               th:field="*{nif}" th:readonly="true"
                               placeholder="nif"
                               class="form-control">
                        <label for="nif">Nif <span class="text-danger">*</span></label>
                    </div>
                    <small class="form-text text-danger"
                           th:if="${#fields.hasErrors('nif')}" th:errors="*{nif}"></small>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="form-floating">
                        <input id="nombre" type="text"
                               th:field="*{nombre}" th:readonly="${readonly}"
                               placeholder="Nombre"
                               class="form-control">
                        <label for="nif">Nombre <span class="text-danger">*</span></label>
                    </div>
                    <small class="form-text text-danger"
                           th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-floating">
                        <input id="apellido1" type="text"
                               th:field="*{apellido1}" th:readonly="${readonly}"
                               placeholder="Apellido 1º"
                               class="form-control">
                        <label for="apellido1">Apellido 1º <span class="text-danger">*</span></label>
                    </div>
                    <small class="form-text text-danger"
                           th:if="${#fields.hasErrors('apellido1')}" th:errors="*{apellido1}"></small>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-floating">
                        <input id="apellido2" type="text"
                               th:field="*{apellido2}" th:readonly="${readonly}"
                               placeholder="Apellido 2º"
                               class="form-control">
                        <label for="nif">Apellido 2º</label>
                    </div>
                    <small class="form-text text-danger"
                           th:if="${#fields.hasErrors('apellido2')}" th:errors="*{apellido2}"></small>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-10">
                    <div class="form-floating">
                        <input id="razonSocial" type="text"
                               th:field="*{razonSocial}" th:readonly="${readonly}"
                               placeholder="Razón Social"
                               class="form-control">
                        <label for="razonSocial">Razón Social <span class="text-danger">*</span></label>
                    </div>
                    <small class="form-text text-danger"
                           th:if="${#fields.hasErrors('razonSocial')}" th:errors="*{razonSocial}"></small>
                </div>
                <div class="col-12 col-md-2">
                    <div class="form-floating">
                        <input id="telefono" type="text"
                               th:field="*{telefono}" th:readonly="${readonly}"
                               placeholder="Teéfono"
                               class="form-control">
                        <label for="telefono">Teléfono</label>
                    </div>
                    <small class="form-text text-danger"
                           th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></small>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-10">
                    <div class="form-floating">
                        <input id="email" type="text"
                               th:field="*{email}" th:readonly="${readonly}"
                               placeholder="Email"
                               class="form-control">
                        <label for="email">Email <span class="text-danger">*</span></label>
                    </div>
                    <small class="form-text text-danger"
                           th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                </div>
                <div class="col-12 col-md-2">
                    <div class="form-floating">
                        <input id="createAt" type="date"
                               th:field="*{createAt}" readonly
                               placeholder="Fecha de Alta"
                               class="form-control">
                        <label for="createAt">Fecha de alta</label>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-end m-2" th:if="${showSubmit}">
                <button type="submit" class="btn boton-guardar">
                    <i class="bi bi-save"></i> <span th:text="${titleSubmit}"></span>
                </button>
            </div>
        </div>

    </div>
</div>

<!-- ------------------------------------------------------------ -->

<div th:fragment="filterClave">
    <div class="card">
        <div class="bg-light p-1">
            <div class="row align-items-center">
                <div class="col-12 col-md-4">
                    <div class="form-floating">
                        <input id="nif" type="text" name="nif"
                               th:value="${nif}"
                               placeholder="nif"
                               class="form-control">
                        <label for="nif">Nif</label>
                    </div>
                </div>
                <div class="col-auto align-middle">
                    <button type="submit" class="btn boton-buscar" title="Buscar"><i
                            class="bi bi-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ------------------------------------------------------------ -->

<div th:fragment="filter">
    <div class="card">
        <div class="bg-light p-1">
            <div class="row align-items-center">
                <div class="col-12 col-md-4">
                    <div class="form-floating">
                        <input id="nif" type="text" name="nif"
                               th:value="${nif}"
                               placeholder="Nif"
                               class="form-control">
                        <label for="nif">Nif</label>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-floating">
                        <input id="razonSocial" type="text" name="razonSocial"
                               th:value="${razonSocial}"
                               placeholder="Razón social"
                               class="form-control">
                        <label for="razonSocial">Razón social</label>
                    </div>
                </div>
                <div class="col-auto align-middle">
                    <button type="submit" class="btn boton-buscar" title="Buscar"><i
                            class="bi bi-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ------------------------------------------------------------ -->

<div th:fragment="listado">
    <table class="table table-striped">
        <thead>
        <tr scope="row">
            <th scope="col">NIF</th>
            <th scope="col">Nombre</th>
            <th scope="col">Razón social</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
        </tr>
        </thead>

        <tbody>
        <tr scope="row" th:each="cliente: ${clientes}">
            <td th:text="${cliente.nif}"></td>
            <td th:text="${cliente.nombre}+' '+${cliente.apellido1}+' '+${cliente.apellido2}"></td>
            <td th:text="${cliente.razonSocial}"></td>
            <td th:text="${cliente.telefono}"></td>
            <td th:text="${cliente.email}"></td>
            <td>
                <a th:href="@{/admin/clientes/show/{nif}(nif = ${cliente.nif})}" title="mostrar"
                   class="btn btn-sm boton-consultar"><i class="bi bi-eye"></i></a>
                <a th:href="@{/admin/clientes/delete/{nif}(nif = ${cliente.nif})}" title="borrar"
                   class="btn btn-sm boton-borrar"><i class="bi bi-trash"></i></a>
                <a th:href="@{/admin/clientes/update/{nif}(nif = ${cliente.nif})}" title="editar"
                   class="btn btn-sm boton-actualizar"><i class="bi bi-pencil"></i></a>
            </td>
        </tr>
        </tbody>

    </table>
</div>